 <div class="cadastro">
        <h2>Cadastro</h2>
        <form>
          <label for="usuario">Nome de Usuário</label>
          <input type="text">
    
          <label for="email">E-mail</label>
          <input type="email">
    
          <label for="senha">Senha</label>
          <input type="password">
    
          <label for="confirma-senha">Confirme a Senha</label>
          <input type="password">
    
          <button type="submit">Cadastrar</button>
        </form>
      </div>