<main>
        <h1>Bem-vindo!</h1>
        <button id="abrirmodal">Fazer post</button>

        <!-- Modal -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="modal-header">
                    <h2 id="postTitle">Novo Post</h2>
                </div>
                <div class="modal-body">
                    <form id="postForm">
                        <label for="title">Título:</label>
                        <input type="text" id="title" name="title" required><br><br>
                        <label for="content">Conteúdo:</label>
                        <textarea id="content" name="content" rows="4" cols="50" required></textarea><br><br>
                        <button type="submit">Postar</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Post Detail Modal -->
        <div id="postDetailModal" class="modal">
            <div class="modal-content">
                <span class="close-detail">&times;</span>
                <div class="modal-header">
                    <h2 id="detailTitle">Título do Post</h2>
                    <span id="detailLikeCount">0</span>
                </div>
                <div class="modal-body">
                    <p id="postAuthor">Autor do post</p>
                    <p id="postTime">Horário do post</p>
                    <p id="postDescription">Descrição do post</p>
                    <div id="commentsSection">
                        <div class="comment">
                            <p><strong>Nome do Usuário:</strong> Comentário... <em>Hora</em></p>
                        </div>
                    </div>
                    <div class="comment-form">
                        <input type="text" id="commentInput" placeholder="Escreva um comentário...">
                        <button id="commentButton"><i class="fas fa-paper-plane"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Lista de Posts -->
        <div class="topicos">
            <section id="topics">
                <h2>Posts Recentes</h2>
                <div id="postList"></div>
            </section>
        </div>
    </main>
