<main>
    <h1>Bem-vindo!</h1>
    {{#if usuarioLogado}}
        <button id="abrirmodal">Fazer post</button>
    {{/if}}

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="modal-header">
                <h2 id="postTitle">Novo Post</h2>
            </div>
            <div class="modal-body">
                <form id="postForm">
                    <label for="title">Título:</label>
                    <input type="text" id="title" name="title" required><br><br>
                    <label for="content">Conteúdo:</label>
                    <textarea id="content" name="content" rows="4" cols="50" required></textarea><br><br>
                    <button type="submit">Postar</button>
                </form>
            </div>
        </div>
    </div>


    <div class="topicos">
        <section id="topics">
            <h2>Posts Recentes</h2>
            <div id="postList"></div>
        </section>
    </div>
</main>
