<header>
    <h1><i class="fa fa-comments"></i> Fórum SENAI</h1>
    <nav>
        <ul>
            <li><button id="btnheader" onclick="location.href='/login'">Login</button></li>
            <li><button id="btnheader" onclick="location.href='/cadastro'">Cadastre-se</button></li>


        </ul>
    </nav>
</header>