<h1>Essa página apenas usuários logados podem acessar</h1>

<h5>Usuario logado:</h5>
<p>{{usuarioLogado.nome}}</p>
<h5>E-mail:</h5>
<p>{{usuarioLogado.email}}</p>
<h5>Senha:</h5>
<p>{{usuarioLogado.senha}}</p>
